@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', serif, sans-serif;
}

body {
    width: 90vw;
    margin: auto;
}

#header {
    text-align: center;
    margin-top: 10px;
}

#boasvindas {
    padding: 5% 10%;
    margin: auto;
}

#orientacao {
    text-align: center;
}

.como-jogar {
    padding: 8px 0;
    font-weight: bolder;
    font-size: large;
}

.dicas, .exemplo, .palavra-exemplo  {
    list-style: inside;
    margin-left: 20px;
}

#examples {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.exemplo {
    text-align: center;
    margin-bottom: 2%;
}

#btnJogar {
    padding: 10px;
    margin-top: 5%;
    border-radius: 5px;
    border: 1;
    width: 60%;
    background-color: #8EC3B0;
    color: rgb(53, 53, 53);
    font-size: larger;
}

#resultado {
    display: flex;
    height: 25px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#secreta {
    text-align: center;
    color: brown;
    font-weight: bolder;
    margin: 0 2%;
}

#aviso {
    text-align: center;
    color: grey;
    margin: 0 2%;
    font-weight: bolder;
}

#board {
    margin: 10px auto;
}


#palpites {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.palpite {
    display: flex;
    margin: 2px;
    justify-items: center;
    width: 90vw;
    justify-content: center;

}

.letra {
    display: flex;
    border: 2px solid #AEBDCA;
    color: black;
    margin: 0 3px;
    border-radius: 10%;
    width: 40px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: #8EC3B0;
    border-color: #8EC3B0;
}

.yellow {
    background-color: #FFD372;
    border-color: #FFD372;
}

.gray {
    background-color: #AEBDCA;
    border-color: #AEBDCA;
}



#teclado {
    margin: auto;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;

}

.linha {
    display: flex;
    margin: 2px;
    width: 90vw;
    justify-content: center;


}

.tecla {
    border: 2px solid #AEBDCA;
    background-color: #AEBDCA;
    margin: 2px 1px;
    border-radius: 10%;
    width: 30px;
    height: 40px;
}

.tecla-grande {
    border: 2px solid #AEBDCA;
    background-color: #AEBDCA;
    margin: 2px 1px;
    border-radius: 10%;
    width: 70px;
    height: 40px;
}

.dark {
    background-color: #9c9fa0;
    border-color: #9c9fa0;
}

#btnReset {
    padding: 10px;
    margin-top: 5%;
    border-radius: 5px;
    border: 1;
    width: 60%;
    background-color: #8EC3B0;
    color: rgb(53, 53, 53);
}


/* esconde o element html */
.hidden {
    display: none !important;
  }

